<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>anatine - a free css template</title>

    <link rel="stylesheet" href="/superAdmin.css" type="text/css" />
    <link rel="stylesheet" href="/alladmission.css" type="text/css" />
    <style>
        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input[type=text]:focus {
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

<section id="body" class="width">
    <aside id="sidebar" class="column-left">

        <header>
            <h1><strong><a href="#">FXB Suraksha</a></strong></h1>
            <h2>Welcome to our website!</h2>
        </header>

        <nav id="mainnav">
            <ul>
                <li><a href="/Admin">Home</a></li>
                <li><a href="/admissionPage_admin">New Admission</a></li>
                <li class="selected-item"><a href="/admin/alladmissions">All admissions</a></li>
                <li><a href="/manageMember">Manage Users</a></li>
                <li><a href="#">Update Blog</a></li>
            </ul>
        </nav>

    </aside>
    <section id="content" class="column-right">

        <article>
            <h2><strong>All Admissions</strong></h2>
            <div class="article-info">Posted on <time datetime="2013-05-14">14 May</time> by <a href="#" rel="author">Joe Bloggs</a></div>
            <a href="#" class="button">Profile</a>&nbsp;<a href="/MemberSignup" class="button button-reversed">Create Members</a>&nbsp;<a href="/logout" class="button">Logout</a>
        </article>

        <article class="expanded">
            <form action="/admin/search" method="POST">
                <input type="text" name="search" placeholder="Search..">
            </form>
            <br>
            <!--Filters-->
            <label for="location">Apply Filters</label><br><br>
            <form method="post" action="/admin/filter">
                Age: <input type="number" name="from" placeholder="From" style="width: 10%; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px">
                <input type="number" name="to" placeholder="To" style="width: 10%; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px">
                &nbsp;&nbsp;&nbsp;
                Gender: <select type="number" name="gender" style="width: 10%; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px">
                    <option>male</option>
                    <option>female</option>
                </select>&nbsp;&nbsp;&nbsp;
                Enrollment:<select type="text" name="enrollment" style="width: 10%; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px">
                    <option value="">None</option>
                    <option value="Going to school">Going to school</option>
                    <option value="Dropouts">Dropouts</option>
                    <option value="Not going to school">Not going to school</option>
                </select>&nbsp;&nbsp;&nbsp;
                Aadhar:<select type="text" name="aadhar" style="width: 10%; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px">
                    <option value="">None</option>
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
                <input type="submit" class="btn btn-danger" value="Apply">
            </form>

            <%data.forEach(function (value) {%>
            <div id="container">
                <div class="product-details">
                    <h1><%=value.name%></h1>
                    <br><br>
                    <p class="information">" Especially good for container gardening, the Angelonia will keep blooming all summer even if old flowers are removed. Once tall enough to cut, bring them inside and you'll notice a light scent that some say is reminiscent of apples. "</p>
                    <div class="control">
                        <button class="btn btn-primary"><a href="/moreInfo/<%=value._id%>" style="color: white">More Info</a></button>
                    </div>
                </div>
                <div class="product-image">
                    <img src="../<%= value.profile %>" alt="Omar Dsoky">
                    <div class="info">
                        <h2>The Description</h2>
                        <ul>
                            <li><strong>Sun Needs: </strong>Full Sun</li>
                            <li><strong>Soil Needs: </strong>Damp</li>
                            <li><strong>Zones: </strong>9 - 11</li>
                            <li><strong>Height: </strong>2 - 3 feet</li>
                            <li><strong>Blooms in: </strong>Mid?Summer - Mid?Fall</li>
                            <li><strong>Features: </strong>Tolerates heat</li>
                        </ul>
                    </div>
                </div>
            </div>
            <%});%>
        </article>
    </section>
    <div class="clear"></div>
</section>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
